
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(234, 238, 238, 0.178);
}

/* *header section styles */
.header {
  display: flex;
  justify-content: space-between;
  margin: 10px 200px;
  align-items: center;
  
}
.head-menu {
display: flex;
gap: 48px;

}
.head-menu a {
  list-style: none;
text-decoration: none;
color: black;
font-family: "Inter", sans-serif;
}
.about .shop {
  color: rgb(137, 135, 161);
  font-weight: 400;
}

/* *main section styles */

.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 125px 200px;
  
}
.main-div-left {
  width: 570px;
  height: auto;
}
.main-div-left h1 {
  font-family: "Noto" Serif;
  font-size: 4rem;
}
.main-div-left span {
  color: rgb(233, 90, 8);
}
.main-div-left p {
  font-family: "Inter", sans-serif;
}

/* *flowers plants */
.our-plants {
  display: flex;
  margin: 0 200px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.our-plants-heading h1{
font-family: "noto" serif;
font-size: 3rem;
text-align: center;
}
.our-plants-heading span {
  color: #E95A08;
  
}
.our-plants-heading p {
  font-family: "Inter" sans-serif;
  text-align: center;
  margin: 18px auto 49px auto;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}
/* .plants {
  display: grid;
  grid-template-columns: repeat(4 1fr);
} */
.flower-plants {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-basis: 25%;
  gap: 10px;
}

.cart-text *   {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-text h3 {
  font-weight: bold;
  padding-bottom: 15px;
}
.cart-text h4 {
  font-weight: 400;
  font-family: "Inter", sans-serif;

padding-top: 10px;
}
.cart {
  background-color: #E95A08;
  text-align: center;
  padding: 7px 84px;
  color: white;
}

/* *mobile responsive */
@media screen and (max-width: 600px) {
  .header {
    margin: 67px 16px 28px 16px;

  }
  .none {
    display: none;
    
    
  }
  .main {
    flex-direction: column-reverse;
    margin: 10px;
    justify-content: center;
    align-items: center;
    max-width: 460px;
  }
 .main-div-right {
  width: 400px;
  height: 245px;
  margin-right: -20px;
 }
 .main-div-left {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 460px;
 }
 .main-div-left h1 {
  font-size: 2rem;
 }
 .main-div-left P {
  max-width: 440px;
  margin: 5px auto;
  padding: 5px 2px 0 30px;
 }

 /* *cart section */
.our-plants-heading p {
  margin: 10px 28.5px;
}
.our-plants {
margin: 0;

}

.cart-section {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

}