
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(234, 238, 238, 0.178);
}

/* *header section styles */
.header {
  display: flex;
  justify-content: space-between;
  margin: 10px 200px;
  align-items: center;
  
}
.head-menu {
display: flex;
gap: 48px;

}
.head-menu a {
  list-style: none;
text-decoration: none;
color: black;
font-family: "Inter", sans-serif;
}
.about .shop {
  color: rgb(137, 135, 161);
  font-weight: 400;
}

/* *main section styles */

.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 125px 200px;
  
}
.main-div-left {
  width: 570px;
  height: auto;
}
.main-div-left h1 {
  font-family: "Noto" Serif;
  font-size: 4rem;
}
.main-div-left span {
  color: rgb(233, 90, 8);
}
.main-div-left p {
  font-family: "Inter", sans-serif;
}

/* *flowers plants */
.our-plants {
  display: flex;
  margin: 0 200px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.our-plants-heading h1{
font-family: "noto" serif;
font-size: 3rem;
text-align: center;
}
.our-plants-heading span {
  color: #E95A08;
  
}
.our-plants-heading p {
  font-family: "Inter" sans-serif;
  text-align: center;
  margin: 18px auto 49px auto;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}
/* .plants {
  display: grid;
  grid-template-columns: repeat(4 1fr);
} */
.flower-plants {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-basis: 25%;
  gap: 10px;
}

.cart-text *   {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-text h3 {
  font-weight: bold;
  padding-bottom: 15px;
}
.cart-text h4 {
  font-weight: 400;
  font-family: "Inter", sans-serif;

padding-top: 10px;
}
.cart {
  background-color: #E95A08;
  text-align: center;
  padding: 7px 84px;
  color: white;
}

/* *our information */
.information {
display: grid;
grid-template-columns: 1fr 1fr;
margin: 210px 200px;

}
.information-info li {
  padding: 20px;
  list-style: disc;
}
.information-info h1 {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Noto Serif";
}

/* *latest section styles */
.latest-section {
  display: flex;
margin: 10px 200px;
justify-content: space-between;
  gap: 25px;
  
}
.latest-section-left {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 40%;
}
.latest-section-left-top, .latest-section-left-bottom {

  border-radius: 15px;
  width: 367px;
  height: 197px;
  color: white;
  text-align: center;
  align-content: center;
}
.latest-section-left-top {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(../assets/deal-bloom.png);
}
.latest-section-left-bottom {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(../assets/deal-ana.png);
}
.latest-section-right {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../assets/deal-zabo.png);
  
  border-radius: 15px;
  width: 60%;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  align-content: center;
}
.latest-section-left h4, .latest-section-right h2 {
  font-size: 1.5rem;
}
.latest-section-left button, .latest-section-right button {
  text-decoration: underline;
}

/* *subscribe section styles */
.subscribe-section {
  display: flex;
  flex-direction: column;
  background-image: url(../assets/news-letter-bg.png);
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  margin: 50px 200px;
  width: auto;
  height: 533px;
}
.subscribe-head h1 {
  color: white;
  text-align: center;
  font-size: 3rem;
}
.email-box {
  display: flex;
  justify-content: center;
}
.email-box input {
  background-color: white;
  width: 830px;
  height: 50px;
  padding-left: 20px;
}
.email-box button {
  background-color: #E95A08;
  padding: 10px 30px;
}

/* *footer section styles */
.footer {
  margin: 0 200px;
}
.footer-section {
  display: grid;
  grid-template-columns: 33% 18% 18% 25%;
  justify-content: center;
  height: 348px;
  align-items: center;
}
.footer-4rd {
  display: flex;
  gap: 24px;
}
.footer-4rd img {
  width: 36px;
  height: 36px;
}
.footer-3rd, .footer-second {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #6B7280;
}
.footer-first {
  margin-left: -50px;
}
/* *mobile responsive */
@media screen and (max-width: 600px) {
  .header {
    margin: 67px 16px 28px 16px;

  }
  .none {
    display: none;
    
    
  }

  /* *section 1 styles */
  .section1 {
    flex-direction: column-reverse;
  }
  .main-div-left h1{
margin-left: -160px;
  }
  
  .main {
    flex-direction: column-reverse;
    margin: 10px;
    justify-content: center;
    align-items: center;
    max-width: 460px;
  }
 .main-div-right {
  width: 400px;
  height: 245px;
  margin-right: -20px;
 }
 .main-div-left {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 460px;
 }
 .main-div-left h1 {
  font-size: 2rem;
 }
 .main-div-left P {
  max-width: 440px;
  margin: 5px auto;
  padding: 5px 2px 0 30px;
 }

 /* *cart section */
.our-plants-heading p {
  margin: 10px 28.5px;
}
.our-plants {
margin: 0;

}

.cart-section {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}


/** <!-- *our information --> */
.information {
  display: flex;
  flex-direction: column;
  margin: 41px 0 0 0 ;

}
.information-info li{
  padding: 8px;
  list-style: disc;
}
.hide {
  display: none;
}

/* *latest section responsive styles */
.latest-section {
  flex-direction: column;
  margin: 0;
}
.latest-section-right {
  width: 365px;
  height: 184px;
  margin-left: 30px
}
.latest-section-left-top, .latest-section-left-bottom {
  width: 365px;
  height: 184px;
  align-content: center;
  margin-left: 30px;
}

/* *subscribe section styles */
.email-box input {
  width: 218px;
  height: 50px;
}
.subscribe-section {
  margin: 10px;
  width: 393px;
  height: 275px;
  background-size: cover;
}
.subscribe-head h1{
  font-size: 1.5rem;
  padding-bottom: 20px;
}

/* *footer section styles */
.footer {
  height: 865px;
}
.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: -130px;
  gap: 20px;
}
.footer-first-head > br{
display: none;
}
.footer-second {
  margin-left: -235px;
  gap: 32px;
}
.footer-3rd {
  margin-left: -190px;
  gap: 32px;
}
.footer-4rd {
  margin-left: -100px;
}
}